//Gradient Animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(bgposition) {
    0% {
        background-position: 0% 35%;
    }
    50% {
        background-position: 100% 66%;
    }
    100% {
        background-position: 0% 35%;
    }
}

@include keyframes(bounce) {
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.gradient-animation-values-text {
    background: linear-gradient(238deg, #743ad5, #d53a9d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-size: 200% auto;
}

.gradient-animation-values-shape {
    background: linear-gradient(238deg, #743ad5, #d53a9d);
    background-size: 600% 600%;
}

//Fonts
$fontText: "Poppins", sans-serif;

@mixin nexa-light($fontsize) {
    font-family: $fontText;
    font-weight: 300;
    font-size: $fontsize;
}

@mixin nexa-book($fontsize) {
    font-family: $fontText;
    font-weight: 600;
    font-size: $fontsize;
}

@mixin lachata($fontsize) {
    font-family: "Lachata";
    font-size: $fontsize;
}

$fontsizeTitlePC: 2.9rem;
$fontsizeTextPC: 1.7rem;
$fontsizeDescriptionPC: 1.5rem;

$fontsizeTitleIpad: 2.5rem;
$fontsizeTextIpad: 1.5rem;
$fontsizeDescriptionIpad: 1.3rem;

$fontsizeTitlePhone: 2.3rem;
$fontsizeTextPhone: 1.3rem;
$fontsizeDescriptionPhone: 1rem;

$fontsizeTitleMiniPhone: 1.5rem;
$fontsizeTextMiniPhone: 1rem;
$fontsizeDescriptionMiniPhone: 0.9rem;

//Colors
$dark-color: black;
$light-color: white;

//Video Background
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

//Main section full page
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
}

//Eye
.eye {
    @extend .gradient-animation-values-shape;
    @include animation("bgposition 5s infinite");
    border-radius: 50%;
    font-size: $fontsizeTitlePC;
    cursor: pointer;
    color: $light-color;
    text-decoration: none;
    padding: 15px;
    transition: transform 0.5s ease-in-out;
    display: inline-block;
    &:hover {
        transform: rotate(180deg);
        transition: transform 0.5s ease-in-out 0s;
    }
}

@media (max-width: 390px) {
    .eye {
        font-size: $fontsizeTitleMiniPhone;
    }
}

@media (min-width: 391px) and (max-width: 766px) {
    .eye {
        font-size: $fontsizeTitlePhone;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .eye {
        font-size: $fontsizeTitleIpad;
    }
}
