//ANIMATION
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(bgposition) {
    0% {
        background-position: 0% 35%;
    }
    50% {
        background-position: 100% 66%;
    }
    100% {
        background-position: 0% 35%;
    }
}

@include keyframes(bounce) {
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.gradient-animation-values-text {
    background: linear-gradient(238deg, #333399, #ff6699, #006699);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
}

.gradient-animation-values-shape {
    background: linear-gradient(238deg, #333399, #ff6699, #006699);
    background-size: 600% 600%;
}

//FONTS
@mixin nexa-light($fontsize) {
    font-family: "Nexa-light", serif;
    font-size: $fontsize;
}

@mixin nexa-book($fontsize) {
    font-family: "Nexa-book", Helvetica, Arial;
    font-size: $fontsize;
}

@mixin lachata($fontsize) {
    font-family: "Lachata", Helvetica, sans-serif;
    font-size: $fontsize;
}

$fontsizeTitlePC: 3.5rem;
$fontsizeTextPC: 1.7rem;
$fontsizeDescriptionPC: 2rem;

$fontsizeTitleIpad: 3rem;
$fontsizeTextIpad: 1.5rem;

$fontsizeTitlePhone: 2.5rem;
$fontsizeTextPhone: 1.3rem;

//COLORS
$dark-color: black;
$light-color: white;

//ARROW

.zoneSubTitle {
    @include lachata(1rem);
    text-transform: uppercase;
    @extend .gradient-animation-values-text;
    @include animation("bgposition 12s infinite");
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
}

.eye {
    @extend .gradient-animation-values-shape;
    @include animation("bgposition 5s infinite");
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    color: $light-color;
    text-decoration: none;
    padding: 15px;
    transition: 0.5s ease-in-out;

    &:hover {
        transform: rotate(180deg);
    }
}

//Media query - PHONE
@media (max-width: 766px) {
    .eye {
        font-size: 2rem; 
        margin-top: 10px;
    }
  }
  
  //Media query - IPAD
  @media (min-width: 767px) and (max-width: 1024px) {
    .eye {
        font-size: 2.5rem; 
        margin-top: 10px;
    }
  }
